@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.primary-bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.display-flex {
  display: flex;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
  margin-bottom: 180px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.section-description {
  font-size: 1rem;
  font-weight: 500;
}
/* Navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700px;
  font-size: 3rem;
}
.nav-links {
  list-style: none;
}
.nav-item {
  margin-right: 60px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

/* Banner styles */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-content button {
  margin-bottom: 50px;
}

.banner-image {
  width: 100%;
}

/* Team and feature related styles */
.teams {
  align-items: center;
  gap: 24;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  max-width: 33.75rem;
  margin-left: 76px;
}

/* Some facts section styles */
.facts-counter-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
}
.face-card {
  width: 200px;
  text-align: center;
  border: 1px solid #ff900e;
  padding: 20px 30px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sponsors related styles */
.Sponsors-info {
  max-width: 540px;
  margin: 0 auto 50px auto;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 150px;
}
.sponsor-companies img {
  filter: grayscale(100%);
}
/* Responsive  media query*/

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .some-facts {
    text-align: center;
  }
  .face-card {
    margin: 0 auto;
  }
  .team-image-container,
  .facts-counter-cards,
  .sponsor-companies {
    grid-template-columns: 1fr;
  }
  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }

  /* New property */
  .facts-counter-cards {
    justify-items: center;
    gap: 24px;
  }

  .our-features {
    margin-left: 50px;
  }
}

/* responsive for medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
  .facts-counter-cards,
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    justify-items: center;
  }
}
