@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.primary-bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.display-flex {
  display: flex;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

/* Navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700px;
  font-size: 3rem;
}
.nav-links {
  list-style: none;
}
.nav-item {
  margin-right: 60px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

/* Banner styles */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-content button {
  margin-bottom: 50px;
}

.banner-image {
  width: 100%;
}

/* Team and feature related styles */
.teams {
  align-items: center;
  gap: ;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  max-width: 33.75rem;
  margin-left: 76px;
}
/* Responsive  media query*/

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
}
